$subImg-size:80px;

.img-con{
  position: relative;
  width:80px;
  height:80px;
  float:left;
  margin-right:10px;
  border:1px solid #ccc;
  .img{
    width:100%;
    height: 100%;
    display: block;
  }
  .fa-close{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    cursor: pointer;
    display: none;
    font-size: 50px;
    color:red;
    background: rgba(0, 0, 0,.2);
    text-align:center;
    height:$subImg-size;
    line-height: $subImg-size;
  }
  &:hover{
    .fa-close{
      display: block;
    }
  }
}
.file-upload-con{
  margin-top:15px;
}